# Forzar el uso del registro oficial de npm a través de HTTPS
registry=https://registry.npmjs.org/

# Forzar a Prisma a usar un mirror para la descarga de binarios
PRISMA_ENGINES_MIRROR=https://binaries.prisma.sh

# Aumentar la resiliencia de la red
fetch-retries=5
fetch-retry-maxtimeout=120000
fetch-timeout=120000

# Configuración para pnpm hoisting - necesario para Prisma
node-linker=hoisted
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=*@prisma*
